<web-app xmlns="http://java.sun.com/xml/ns/javaee"
         xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
         xsi:schemaLocation="http://java.sun.com/xml/ns/javaee
	      http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd"
         version="2.5">

    <display-name>x-burger Web Application</display-name>

    <!--****************************START OF PRODUCTION SERVLETS********************************-->

    <servlet>
        <servlet-name>LoginValidation</servlet-name>
        <servlet-class>servlet.LoginValidation</servlet-class>
    </servlet>

    <servlet-mapping>
        <servlet-name>LoginValidation</servlet-name>
        <url-pattern>/login_validation</url-pattern>
    </servlet-mapping>


    <!--****************************END OF PRODUCTION SERVLETS**********************************-->


    <!--Test Servlet Setup for demonstration/teaching-->
    <servlet>
        <servlet-name>helloServlet</servlet-name>
        <servlet-class>
            servlet.HelloServlet
        </servlet-class>
    </servlet>

    <servlet-mapping>
        <servlet-name>helloServlet</servlet-name>
        <url-pattern>/hello</url-pattern>
    </servlet-mapping>

    <!--Test JSP Setup for demonstration/teaching-->
    <servlet>
        <servlet-name>indexJSP</servlet-name>
        <jsp-file>/index.jsp</jsp-file>
    </servlet>

    <servlet-mapping>
        <servlet-name>indexJSP</servlet-name>
        <url-pattern>/</url-pattern>
    </servlet-mapping>

</web-app>